.postContainer {
    width: 100%;
    margin-bottom: 20px;
}

.postForm {
    display: flex;
    flex-direction: column;
}

.postInputContainer {
    margin-bottom: 10px;
}

.postInput {
    min-width: 780px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    background-color: #4d4c4c;
}

.postButton {
    width: 100%;
    padding: 10px 20px;
    background-color: #dea0de;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.postButton:hover {
    background-color: #c75ec7;
}

.postButton:focus {
    outline: none;
}

