.profile__description {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px; /* Отступ между элементами */
    z-index: 1;
}

.profile__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Выравнивание элементов по левому краю */
    transition: all 0.3s ease;
}
.profile__label {
    font-size: 18px;
    font-weight: bold;
}

.profile__text {
    font-size: 16px;
}

.profile__text p {
    font-size: 16px;
    line-height: 1.5;
    color: #d2d2d2;
    margin: 0;
}

.profile__edit {
    background-color: #dea0de;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.profile__edit:hover {
    background-color: #c75ec7;
}

.profile__contacts {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center; /* Выравнивание элементов по левому краю */
    transition: all 0.3s ease;
}

/* Адаптивные стили */
@media (max-width: 768px) {
    .profile__item {
        max-width: 100%; /* На мобильных устройствах элементы будут занимать всю ширину доступного контейнера */
    }
}