.header {
    grid-area: h;
    background: linear-gradient(135deg, #e1c6f1, #a38ce2);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

/* Стили для логотипа */
.header__logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

/* Стили для ссылки "Log Out" или "Log In" */
.logout {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #dea0de;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.logout:hover {
    background: linear-gradient(135deg, #e1c6f1, #a38ce2);
}