/* Стили для контейнера боковой навигации */


.nav {
    grid-area: n;
    border-radius: 5px;
    width: 250px;
    height: 100%;
    padding-top: 20px;

}

/* Стили для списка навигации */
.nav__list {
    list-style: none;
    padding: 0;
}

/* Стили для элементов навигации */
.nav__item {
    margin-bottom: 10px;
}

/* Стили для ссылок в навигации */
.navLink {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    display: block;
}

.navLink:hover {
    background-color: #444;
    border-radius: 5px;
}

/* Стили для активной ссылки */
.activeLink {
    background: linear-gradient(135deg, #e1c6f1, #a38ce2);
    border-radius: 5px;
}
