.profile__links {
    display: flex;
    flex-wrap: wrap;
}

.profile__link {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    text-decoration: none;
    color: #e3e3e3;
    border: 1px solid #d3d3d3;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.profile__link:hover,
.profile__link:focus {
    background-color: #e6ceff;
    color: #3f3f3f;
}