/* Стили для отдельного сообщения */
.message {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.message-sender {
    font-weight: bold;
    margin-bottom: 5px;
}

.message-text {
    font-size: 16px;
}

/* Стили для формы отправки сообщения */
.sendForm {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #343434;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

/* Стили для поля ввода сообщения */
.messageInput {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fdfdfd;
    font-size: 16px;
    outline: none;
}

/* Стили для кнопки отправки сообщения */
.sendButton {
    margin-left: 10px;
    padding: 12px; /* Увеличим немного отступы */
    border: none;
    border-radius: 50%;
    background-color: #dea0de;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease; /* Добавим плавный переход при наведении */
}

.sendButton:hover {
    background-color: #be75be; /* Изменяем цвет кнопки при наведении */
}

/* Оформление иконки отправки сообщения (Font Awesome) */
.sendButton i {
    vertical-align: middle;
}