.post {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #575757;
    border-radius: 10px;
    color: #FFFFFF;
}

.postWrap {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatarImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.likeWrap {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

.likeIcon {
    width: 20px;
    height: 20px;
    background-image: url('https://avatars.mds.yandex.net/i?id=1f4c064b716995e3c5152c34cc4bbfbb6e51c5bf-9152778-images-thumbs&n=13');
}

.likeCount {
    font-size: 14px;
    color: #808080;
}




