.container {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem; /* добавлено свойство margin-top */
}

.label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-weight: bold;
    color: #c75ec7;
}

.input {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;
}

.button {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: #a779c0;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.button:hover {
    background-color: #d1aaec;
}

.button:active {
    background-color: #e1c6f1;
}

.formSummaryError {
    color: #e54e4e;
}