/* Стили для компонента сообщения */
.message {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 10px;
    position: relative;
}

.messageText {
    padding: 10px;
    border-radius: 10px;
    background-color: #e1c6f1;
    line-height: 1.4;
    position: relative;
}

.messageText p {
    margin: 0;
}

